* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #ffffff !important;
	/*background-color: #081727;*/
	height: 100%;
}

#root {
	height: 100%;
}

@font-face {
	font-family: Ventography;
	src: url(Ventography.ttf);
}

.head-image {
	background: url("img/header.jpg") no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.profile-image {
	background: url("img/profile.jpg") no-repeat;
	background-size: cover;
	width: 350px;
	max-width: 100%;
	height: 304px;
}

.test {
	height: 100%;
}

.site-header {
	color: white;
	margin-left: 15%;
	padding-top: 15%;
	font-family: "Karla", sans-serif;
	font-size: 35px;
	color: #eff2f7;
	text-shadow: #000 0px 0px 3px;
}

.site-header h2 {
	font-size: 60px;
	font-weight: 500;
	font-family: "Karla", sans-serif;
}

.me-text p {
	font-weight: 500;
	font-size: 16px;
}

.me-text h3 {
	font-size: 36px;
	font-weight: bold;
}

.about-me {
	margin-top: 2%;
}

.project-item {
	margin-top: 1%;
	border-style: solid;
	border-radius: 5px;
}

.image {
	margin-top: 15px;
	border-radius: 5px;
}

.p {
	height: 100%;
}

.main-square {
	height: 100%;
	width: 48%;
	margin: auto;
}

.project-description {
	background-color: #edeff2;
	color: black;
}

.nav-text {
	font-weight: bold;
	font-size: 40px;
	vertical-align: middle;
	font-family: "Roboto", sans-serif;
	float: left;
}

.square-icon {
	margin-top: 10% !important;
	height: 80%;
	display: block;
	margin: auto;
	vertical-align: middle;
}

.icon {
	height: 60%;
	margin-left: 20px;
}

.nav-icons {
	display: inline;
	margin-top: 10px;
	float: right;
	height: 80%;
}

.nav-bar {
	height: 10%;
}

.items {
	height: 90%;
	margin: auto;
}

.row {
	height: 45%;
	margin-bottom: 20px;
}

.intro {
	height: 100%;
}

.main-page {
	margin: auto;
	height: 100% !important;
	width: 50%;
	color: black;
}

.blue-square {
	background-color: #18121e;
	margin-right: 20px;
}

.gunmetal-square {
	background-color: #233237;
}

.red-square {
	background-color: #984b43;
}

.yellow-square {
	background-color: #eac67a;
	margin-right: 20px;
}

.overlay {
	height: 100%;
	width: 100%;
}

.showmeonhover {
	font-family: "Bitter", serif;
	font-size: 45px;
	font-weight: bold;
	display: none;
	position: absolute;
	margin: auto;
	margin-top: 30%;
	margin-left: 15%;
	text-align: center;
	color: #1c1c38;
}
.alwaysshowme:hover .showmeonhover {
	display: inline;
	opacity: 1 !important;
}

.alwaysshowme:hover .lighten {
	display: inline;
}

.lighten {
	margin-left: -5%;
	height: 100%;
	width: 110%;
	background-color: white;
	opacity: 0.75;
	display: none;
	position: absolute;
}

.experience {
	margin-left: 5% !important;
}

.about {
	margin-left: 19% !important;
}
